.image-circle {

    background-color: whitesmoke;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 3px solid black
}

.ribbon {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 250px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    background: radial-gradient(circle, rgba(222,184,135,0.8020252046130952) 26%, rgba(255,255,255,0) 100%);
    border-radius: 12px
}

.store-ribbon {
    font-size: 24px;
    font-weight: 500;
    color: black;
    
}

.main-page > h2{
    font-size: 48px;
    font-weight: 700;

}

.main-page > h3 {
    font-weight: 400;
}

.main-page {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 30px ;
    margin-right: 30px ;
    margin-top: 40px;
    background-color: whitesmoke;
    border-radius: 12px;
    border: 1px solid black
}

.sub-banner {
    font-size: 36px;
    font-weight: 400;
    padding: 10px;
}

.banner {
    width: 800px auto;
    height: 350px ;
    border-radius: 8px;
    border: 1px solid black;
    background-image: url(https://open-uri.s3.us-west-1.amazonaws.com/banner.jpg) ;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    



}

.banner-info {
    display: flex;
    justify-content: space-between;
}

.info-column-1 {
    margin: 85px auto;
    margin-top: 45px;
    width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 500;
}

.info-column-2 {
    margin: 85px auto;
    margin-top: 45px;
    width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 500;
}

.info-column-1 > h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}
.info-column-2 > h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.intro {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
}

.feature-products {
    text-align: start;

}

.product-image {
    width: 125px;
    height: 125px;
}

.product-feature {
    font-size: 18px;
    height: 130px;
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding-bottom: 80px;
}

.feature-name {
    font-weight: 600;
}

.products-header {
    font-size: 24px;
    font-weight: 600;
}