.login-demo {
    padding: 20px;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 12px;
    background-color: whitesmoke;
}

.login-submit {
    border-radius: 12px;
    background-color: black;
    color: white;
    width: 198px;
    height: 35px;
    font-size: 18px;
}

.signup-form > h3 {
    font-size: 20px;
    font-weight: 400px;
}

.session-form {
    justify-content: center;
}
.signup-title {
    font-weight: 700;
    font-size: 18px;
}

.signup-button {
    display: flex;
    justify-content: space-between;
}

.label-input {
    font-weight: 600;
}

.form-input {
    border-radius: 12px;
    width: 220px;
    background: rgb(240, 239, 239);
}

.upper-bar {
    padding-top: 35px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    
}

.nav {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 2px solid lightgray;
    background-color: whitesmoke;
}

.search {
    border: 2px solid black;
    border-radius: 12px;
    width: 65vw;
    height: 3vh;
    display: flex;
    justify-content: center;
   
}
.searchbox {
    padding: 0.2vh;
}
.searchform{
    width: 100%;
    height: 100%;
}
.search-field{
    width: 97%;
    height: 100%;
    border: none;
    background: whitesmoke;
    border-radius: 12px;
    padding: 0.2vh
}

.search-button {
    border: transparent;
}

.search-button:hover {
    cursor: pointer;
}

.title {
    color: goldenrod;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    
}

.title:link {
    text-decoration: none;
}

.header-group {
    padding: 0px 120px 0px 120px;
}

.header-name {
    font-size: 2vh;
    font-weight: 600;
    margin-top: 1vh;
}

.demo-button{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.demo-submit {
    border-radius: 12px;
    background-color: lightgray;
    width: 198px;
    height: 35px;
    font-size: 18px;
}

.nav-button-login {
    width: 60px;
    height: 25px;
    font-weight: 400;
    
}

.nav-button-logout {
    width: 80px;
    height: 25px;
    font-weight: 400;
}

.sign-up-button {
    border-radius: 12px;
    background-color: black;
    color: white;
    width: 198px;
    height: 35px;
    font-size: 18px;
}

.signup-submit {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.button-layout {
    display: flex;
    justify-content: space-between;
}

.drop-menu {
    padding: 0;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    border-radius: 12px;
    background: white;
}

.session-menu{
    height: 50px;
    border-radius: 12px;
    display: block;
    background: white;
    
}

.session-menu > button {
    border-radius: 12px;
    width: auto;    
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 13vw;
}

.cart-button {
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    text-align: center;
    width: 45px;
    height: 45px;
    color: black;
    
}

.cart-button:hover {
    cursor: pointer;
}

.cart-button1 {
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    text-align: center;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    color: black;
    
    
}

.lower-bar-ul{
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 8px;
}