.product-forms {
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 12px;
    margin-left: 40px;
    margin-right: 40px;
    height: 800px;
    padding: 15px
}

.product-form-name {
    font-size: 36px;
    font-weight: 600;

}

.label-description {
    font-size: 24px;
    font-weight: 400;
}

.name > p {
    font-size: 12px;
    text-align: justify;
}

.name > input {
    border-radius: 12px;
    
}

.description > p {
    font-size: 12px;
    text-align: justify;
}

.description > textarea {
    border-radius: 12px;
    
}

.price > p {
    font-size: 12px;
    text-align: justify;
}

.price > input {
    border-radius: 12px;
    
}

.clickable-button-cancel{
    border-radius: 12px;
    border: 2px solid black;
    background: whitesmoke;
    width: auto;
    margin: 1px;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    margin-right: 15px;
    color: black
}

.flex-row {
    display: flex;
    justify-content: flex-start;
}

.product-pic {
    width: 9vw;
    height: 9vw;
}

.product-list-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.store-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.show-image{
    margin-top: 35px;
    height: 600px;
    width: 600px;
    border-radius: 10px;
    margin-left: 5px; 

}

.sidebar {
    
    height: 60px;
    width: 60px;
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 35px;
}

.carousel {
    padding: 0;
    display: flex;
    padding-right: 3vw;
}

.product-show{
    display: flex;
    margin-right: 19vw;
}

.product-info {
    margin-left: 50px;
    margin-top: 35px;
    width: 100%;
    
}

.product-show-page {
    width: 85%;
    margin: 0vh 8vw;
    margin-bottom: 3vh;
}

.product-store-name {
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.product-store-name > a {
    font-size: 3vh;
    text-decoration: none;
    color: black
}

.product-info > li {
    margin: 10px;
}

.price-quantity {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 500;
}

.price-quantity > li > p {
    font-weight: 700;
}

.show-product-name{
    font-weight: 700;
    font-size: 22px;
}

.show-p-details {
    font-size: 2.0vh;
}

.review-section {
    margin: 1vh 0vw;
}

.hidden {
    display: none
}

.product-index-name{
    font-size: 2vh;
    font-weight: 600;
}

.product-price {
    font-size: 2vh;
}