/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
@import './base/reset.css';
@import './components/modal.scss';
@import './components/naviBar.scss';

html {
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0.717991591167717) 0%, rgba(121,9,9,0.9140700225402661) 0%, rgba(255,0,0,0) 82%);
    background-size:cover;
    background-repeat: no-repeat;

}